<div class="grid grid-cols-3 lg:grid-cols-1 gap-5">
  <%= render 'shared/farms/calving-overview' %>
  <%= render 'shared/farms/calving-summary' %>
</div>

<%= render 'shared/farms/calving-stats' %>

<div class="grid grid-cols-2 lg:grid-cols-1 gap-5 mt-5">
  <%= render 'shared/farms/calving-farm-comparison' %>
  <%= render 'shared/farms/calving-recent-calves' %>
</div>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
