<tr class="">
  <td class="py-4 text-sm text-gray-600 flex flex-row items-center">
      <%= link_to f.code, farm_path(f) %>
  </td>
  <td class="py-4 text-xs text-gray-600"><%= f.stat_ftc %></span>%</td>
  <td class="py-4 text-xs text-gray-600"><%= f.stat_hcr %></span>%</td>
  <td class="py-4 text-xs text-gray-600"><%= f.stat_cow_dr %></span>%</td>
  <td class="py-4 text-xs text-gray-600"><%= f.stat_calf_dr %></span>%</td>
  <td class="py-4 text-xs text-gray-600"><%= f.stat_hrr %></span>%</td>
</tr>


