<!DOCTYPE html>
<html class="antialiased">
  <%= render "shared/head" %>
  <body class="bg-gray-100">
    <%= render "shared/flash_notice" %>
    <%= render 'shared/base/navbar' %>
    <%= content_for?(:content) ? yield(:content) : yield %>
    <%= render 'shared/base/end' %>
  </body>
</html>
